{% extends 'mainApp/header.html' %}

  {% block content %}

  <h1>Instructions</h1>
  <ul>
    <li>Type is the first checked variable</li>
    <li>Amount is in ETH</li>
    <li>Minimum amount is 0 ETH</li>
    <li>Deadline is in weeks</li>
    <li>Minimum deadline is 2 weeks</li>
    <li>Buyer and Seller must be valid addresses (starting with 0x...)</li>
  </ul>
  <form method="POST" class="post-form">{% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Send request</button>
  </form>

  <h2>OPEN/CLOSED CONTRACTS</h2>
  <table class="table p-4 bg-white shadow rounded-lg">
    <thead>
      <tr>
        <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-blue-600"> ID </th>
        <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-blue-600"> Buyer </th>
        <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-blue-600"> Seller </th>
        <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-blue-600"> Description </th>
        <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-blue-600"> Amount </th>
        <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-blue-600"> For now </th>
        <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-blue-600"> Deadline (in weeks) </th>
      </tr>
    </thead>
    <tbody> {% for order in list_of_contracts %} <tr class="text-gray-700">
        <td class="border-b-2 p-4 dark:border-dark-5"> {{order.id}} </td>
        <td class="border-b-2 p-4 dark:border-dark-5"> {{order.buyer}} </td>
        <td class="border-b-2 p-4 dark:border-dark-5"> {{order.seller}} </td>
        <td class="border-b-2 p-4 dark:border-dark-5"> {{order.description}} </td>
        <td class="border-b-2 p-4 dark:border-dark-5"> {{order.amount}} </td>
        <td class="border-b-2 p-4 dark:border-dark-5"> {{order.amount_for_now}} </td>
        <td class="border-b-2 p-4 dark:border-dark-5"> {{order.deadline}} </td>
      </tr> {% endfor %} </tbody>
  </table>

  <h2>EVENTS</h2>
  <table class="table p-4 bg-white shadow rounded-lg">
    <thead>
      <tr>
        <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-blue-600"> # </th>
        <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-blue-600"> Type </th>
        <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-blue-600"> Times </th>
        <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-blue-600"> Last </th>
      </tr>
    </thead>
    <tbody> {% for order in list_of_events %} <tr class="text-gray-700">
        <td class="border-b-2 p-4 dark:border-dark-5"> {{forloop.counter}} </td>
        <td class="border-b-2 p-4 dark:border-dark-5"> {{order.type}} </td>
        <td class="border-b-2 p-4 dark:border-dark-5"> {{order.times}} </td>
        <td class="border-b-2 p-4 dark:border-dark-5"> {{order.date}} </td>
      </tr> {% endfor %} </tbody>
  </table>

  {% endblock %}